
@{
    ViewData["Title"] = "AboutUs";
    ViewData["Title1"] = "Beyond The Stack";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";

}


@section Styles {
@*     <link rel="stylesheet" href="~/css/Addcar.css" asp-append-version="true" />
 *@
            <link rel="stylesheet" href="~/css/About-Us.css" asp-append-version="true" />

}

<br>
<br>
<br>
<section class="team-photos container mb-5">
    <div class="row g-4 justify-content-center">
        <div class="col-6 col-md-3 text-center">
            <img src="~/Files/Images/Yasmena.jpg" alt="Yasmina Mohamed Gebril" class="img-thumbnail rounded-end mb-2" />
            <p class="fw-bold">Yasmina Mohamed Gebril</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <img src="~/Files/Images/Aya2.jpg" alt="Aya Al-Azab Al-Refeay" class="img-thumbnail rounded-end mb-2" />
            <p class="fw-bold">Aya Al-Azab Al-Refeay</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <img src="~/Files/Images/da7da7.jpg" alt="Doha Ahmed Harby" class="img-thumbnail rounded-end mb-2" />
            <p class="fw-bold">Doha Ahmed Harby</p>
        </div>
        <div class="col-6 col-md-3 text-center">
            <img src="~/Files/Images/Zeinab.jpg" alt="Zeinab Mohamed Diab" class="img-thumbnail rounded-end mb-2" />
            <p class="fw-bold">Zeinab Mohamed Diab</p>
        </div>
    </div>
</section>

<section class="our-idea">
    <div class="container">
        <h2 class="mb-4">Our Idea</h2>
        <p>
            Team Beyond The Stack - Faculty of Computers and Artificial Intelligence, University of Sadat City  <br>

            We are Team Beyond The Stack, a group of four students from Faculty of Computers and Artificial Intelligence at Sadat <br><br>
            Our Project <strong>( SPEED )</strong> - A Car Rental & Sales Website <br>
            As a team, we have developed an innovative car rental and sales platform that aims to simplify the process of buying, selling, and renting vehicles. Our website provides a seamless user experience, potential buyers or renters can browse, compare, and make informed decisions with ease.
        </p>
    </div>
</section>

<br>
<br>
