* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    width: 100%;
    height: 100vh;
    background-color: #030303;
    background-image: url("/Files/Images/Untitled.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    color: white;
/*    border-radius: 0 0 90px 90px;
*/    padding: 20px;

    position: relative;
    animation: slideInLeft 2s ease-out;
}

.logo {
    margin-left: 20px;
    padding-top: 10px;
    margin-top: -40px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-links {
    padding: 0%;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    margin-top: -70px;
    margin-right: 18px;
    justify-content: end;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.text {
    color: #000000;
    font-family: serif;
    font-size: 10px;
    opacity: 0.8;
    padding-top: 250px;
    margin: 10px;
}

/*h1 {
    text-align: center;
    color: white;
    padding-right: 40px;
    font-size: 90px;
}*/

.search-buttons {
    display: flex;
    justify-content: left;
    gap: 2px;
}

.search-buttons button {
    background-color:#1e6ee9;
    color: #000000;
    border: 2px solid #1e6ee9;
    padding: 10px 80px;
    border-radius: 40px;
    font-size: 30px;
    cursor: pointer;
    margin: 10px 10px;
    box-shadow: 0 5px 5px rgba(5, 150, 234, 0.5);
    transition: background-color 0.3s, color 0.3s;
}

.search-buttons button:hover {
    background-color:#1e6ee9;
    color: white;
}

.search-buttons button.rent {
    background-color:#1e6ee9;
    color: #000000;
    border: 2px solid #1e6ee9;
    padding: 10px 80px;
    border-radius: 40px;
    font-size: 30px;
    cursor: pointer;
    margin: 10px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.search-buttons button.rent:hover {
    background-color: #1e6ee9;
    color: #ffffff;
}

#word:hover {
    text-decoration: underline;
}

/*#go {
    height: 100px;
    width: 700px;
    position: absolute;
    margin: auto;
    left: 25%;
    margin-top: -50px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px white solid;
    border-radius: 25px;
}*/

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 50px;
    flex-wrap: wrap;
}

.video Video {
    /* width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;*/
    margin-top: 100px;
    margin-left: -40px;
    width: 700px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: slideInLeft 1s ease-out;
}

.text-section {
    max-width: 400px;
    animation: slideInRight 1s ease-out;
    margin-top: 70px;
}

.text-section h3 {
    font-size: 36px;
    color: #111;
    margin-bottom: 10px;
}

.text-section p {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-60px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(60px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.banner-strip {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    background-color: #fdfcf8;
}

.banner-strip img {
    max-width: 100%;
    height: 500px;
    display: inline-block;
}

.brand-logo:hover {
    background-color:#1e6ee9;
    color: white;
}

.browse-brand-section {
    padding: 40px 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.browse-brand-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.brand-logos {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.brand-logo {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-logo img {
    width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}

.brand-logo p {
    margin: 0;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #d8d6d6;
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.3);
/*    margin-top: 30px;*/
    border-radius: 90px 90px 0px 0px;
    color: black;
   /* flex: 1;
    padding-bottom: 0 ;
    margin-bottom: 0 ;*/
}

#follow {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-left: 50px;
    margin-top: 10px;

}

#fo {
    font-size: large;
    margin-left: 120px;
    padding-top: 30px;
     
}

a {
    color: black;
}

#footlink {
    font-size: small;
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-left: 40px;
    margin-top: 20px;
}

#copyrights {
    font-size: small;
    margin-top: 20px;
    margin-left: 40px;
    list-style-type: none;
}

#downsec {
    margin-left: 950px;
    margin-top: -140px;

}

#downlinks {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

#down {
    font-size: large;
    margin-left: 10px;
    margin-bottom: 10px
}

#contact {
    list-style-type: none;
    font-size: small;

}

#contactinfo {
    font-size: small;
    margin-top: 30px;
}